* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

.choices {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.btn {
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms;
}

.btn:hover {
    background-color: black;
    color: white;
}

.unclick:hover {
    cursor: not-allowed;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 5px;
}

.hours,
.minutes,
.scolons {
    font-size: 150px;
}

.seconds {
    font-size: 50px;
}

.state-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.start {
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 173, 0);
    color: white;
    cursor: pointer;
}

.stop {
    background-color: rgb(255, 73, 73);
}

.reset-btn {
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms;
}

.reset-btn:hover {
    background-color: black;
    color: white;
}

.settings {
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: black;
    cursor: pointer;
}