* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 5px;
}
.hours,.minutes,.scolons{
    font-size: 150px;
}
.seconds{
    font-size: 50px;
}